.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navbar-brand {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    text-decoration: none;
  }

  .navbar-nav {
    .nav-link {
      color: #333;
      padding: 0.5rem 1rem;
      text-decoration: none;
      font-weight: bold;
      //   transition: color 0.3s;

      //   &:hover {
      //     color: #003cff;
      //   }
    }
  }

  .navbar-logo {
    height: 50px;
  }

  .navbar-title {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
  }
}
